.admin {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
}

.admin-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.admin-content {
    width: 100%;
}

.tab {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: #889fb7;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.tab.active {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
}

.tab:hover {
    color: #000000;
}


@media screen and (max-width: 480px) {
    .admin {
        padding: 10px;
    }

    .admin-tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        font-size: 20px !important;
    }

    .tab {
        margin: 10px 0;
    }

    .dismiss-button, .exit-button {
        font-size: 20px;
    }

    .addProduct {
        font-size: 20px;
    }
}
