.addProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.admin-addproduct-itemfield {
    width: 100%;
    margin-bottom: 15px;
}

.admin-product-title,
.admin-addproduct-brand,
.admin-addproduct-category,
.admin-addproduct-price,
.admin-addproduct-image,
.admin-addproduct-link,
.admin-addproduct-description {
    display: flex;
    flex-direction: column;
}

.admin-addproduct-itemfield p {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.admin-addproduct-itemfield input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.admin-addproduct-itemfield input:focus {
    border-color: #000000;
}

.admin-addproduct-selector {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    outline: none;
    transition: border-color 0.3s ease;
}

.admin-addproduct-selector:focus {
    border-color: #000000;
}

.admin-addproduct-btn {
    padding: 10px 20px;
    background-color: white;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-addproduct-btn:hover {
    background-color: #000;
    color: #fff;
}
